<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <link rel="stylesheet" href="/css/output.css" />
    <h1 class="text-3xl font-bold text-blue-500">Hello Tailwind!</h1>
    <form action="/login-user" method="POST">
      <input type="text" name="name" placeholder="Nhập tên" />
      <input type="email" name="email" placeholder="Tuổi" />
      <input type="address" name="address" placeholder="Dia chi" />
      <button type="submit">Gửi</button>
    </form>
  </body>
</html>
